.component {
  background-color: var(--faust--header-background-color);
}

.brand {
  display: flex;
}

.logo {
  margin-right: 1rem;
}

.title {
  color: var(--faust--header-logo-color);
  font-size: 1.5rem;
  font-weight: 700;
  align-self: center;
  margin-right: 1rem;
}
