.card {
    border: 15px;
    height: 250px;
    width: 300px;
    background: #002838;
  }

  //site image

  .image {
    border: 15px;
    height: 200px;
    width: 250px;
  }
  
  .image .container {
    height: 200px;
    position: relative;
    width: 300px;
  }

  // card fade

  .fade {
    border: 0px none;
    height: 124px;
    width: 290px;
  }
  
  .fade .container {
    background: linear-gradient(180deg, rgba(0, 40, 56, 0) 0%, rgb(0, 40, 56) 67.71%);
    border-radius: 6px;
    height: 124px;
    left: 0;
    position: relative;
    top: 0;
    width: 375px;
  }

  // title

  .title {
    border: 0px none;
    height: 10px;
    width: 75px;
    color: inherit;
  }
  
  .title .position {
    height: 14px;
    left: 100px;
    position: absolute;
    top: 94px;
    width: 100px;
  }

  //link icon

  .link {
    border: 1px none;
    height: 25px;
    position: relative;
  }
  
  .link .position {
    height: 17px;
    left: 2px;
    position: relative;
    top: 1px;
    width: 17px;
  }