.card {
    border: 15px;
    height: 250px;
    width: 300px;
    background: #002838;
    background-size: cover;
  }

  //site image

  .image {
    border: 15px;
    height: 200px;
    width: 300px;
  }
  
  .image .container {
    height: 200px;
    position: relative;
    width: 300px;
  }

  // card fade

  .fade {
    border: 0px none;
    height: 124px;
    width: 300px;
  }
  
  .fade .container {
    background: linear-gradient(180deg, rgba(0, 40, 56, 0) 0%, rgb(0, 40, 56) 67.71%);
    border-radius: 6px;
    height: 124px;
    left: 0;
    position: relative;
    top: 0;
    width: 381px;
  }

  // title

  .title {
    border: 0px none;
    height: 10px;
    color: inherit;
    &:hover {
      .link {  
        text-decoration: underline;
        filter: brightness(150%);
      }
    }
    .link {
      top: 5px;
      margin-left: 2px;
      rotate: 45px;
      border: 1px none;
      height: 20px;
      position: relative;
      color: #7E5CEF;
      &:hover{
        text-decoration: underline;
        filter: brightness(150%);
      }
    }
  }
  
  .title .position {
    height: 14px;
    left: 100px;
    position: absolute;
    top: 90px;
    // width: 100px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }