// Base styles

html {
  background-color: var(--main--background-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: var(--font-weight--medium);
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: var(--code--background-color);
  color: var(--code--color);
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  white-space: nowrap;
  margin: 0 0 1rem;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-family: var(--primary-font-family);
  font-weight: 700;
}

p {
  margin: 0 0 1rem;
  line-height: 1.8;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  color: var(--link-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  color: var(--color--white);
  background-color: var(--color--accent);
}

::selection {
  color: var(--color--white);
  background-color: var(--color--accent);
}

// Sticky footer.
#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
