// Custom CSS Variables

:root {
  // Color Definitions.
  --color--black: #000;
  --color--white: #fff;
  --color--dark-blue: #002838;
  --color--gray-1: #dddddd;

  // Color Assignments.
  --faust--header-background-color: var(--color--dark-blue);
  --faust--footer-background-color: var(--color--dark-blue);
  --faust--code-border-color: var(--color--gray-1);
  --faust--header-logo-color: var(--color--white);
  --faust--icon-color: var(--color--white);
}
