.wp-block-code {
  border-radius: 0.5rem;

  > span {
    border-radius: 0.5rem;
  }

  .hljs {
    padding: 1rem;
    border-radius: 0.5rem;
    backface-visibility: hidden;
	display: block !important;
  	overflow-x: auto !important;
  }
}
