.wp-block-code {
  border-radius: 0.5rem;

  > span {
    border-radius: 0.5rem;
  }

  .hljs {
    padding: 1rem;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    display: block !important;
    overflow-x: auto !important;
  }

  @media only screen and (max-width: 640px) {
    font-size: 0.66rem;

    .hljs {
      padding: 0.5rem;
    }
  }
}

:not(.wp-block-code) > p > code {
  background-color: var(--wp--preset--color--contrast);
  color: var(--wp--preset--color--base);
  font-size: var(--wp--preset--font-size--small);
  font-family: var(--wp--preset--font-family--monospace);
  padding: 5px 8px;
  overflow-wrap: normal;
  overflow-x: scroll;
  tab-size: 4;
  white-space: pre !important;
}
