// Global styles
// These styles are available on all pages.
// If a component has it's own styles, they can be found within styles/components/

@import 'css-variables';
@import 'wp-block-code';

img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
