@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		padding: 0;
		width: 100%;
		overflow-x: hidden;
	}
}

@layer utilities {
	.container-main {
		@apply mx-auto my-16 flex-grow px-4 sm:px-6 md:max-w-6xl md:px-8;
	}
}

/* Styles for code blocks */
span[data-rehype-pretty-code-figure] code {
	padding: 0.3rem;
}

/* code line numbers */
code[data-line-numbers] {
	counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);

	/* Other styling */
	display: inline-block;
	width: 0.75rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
	width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
	width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
	width: 2.25rem;
}

/* Line highlights https://rehype-pretty.pages.dev/#highlight-lines*/
span[data-highlighted-line] {
	background-color: rgba(100, 123, 255, 0.2);
}

/*  
* - Diff highlighting
* - https://shiki.style/packages/transformers#transformernotationdiff 
*/
.has-diff {
	position: relative;
}

.has-diff span[data-line].diff::after {
	position: absolute;
	left: 10px;
}

.has-diff span[data-line].diff.add {
	background-color: rgba(0, 255, 0, 0.2);
}

.has-diff span[data-line].diff.add::after {
	content: "+";
	color: green;
}

.has-diff span[data-line].diff.remove {
	background-color: rgba(255, 0, 0, 0.2);
}

.has-diff span[data-line].diff.remove::after {
	content: "-";
	color: red;
}

figcaption[data-language]::after {
	content: attr(data-language);
	float: right;
}
